<section>
    <h2>Work Experience</h2>

    <h3>Full-Stack Software Engineer (Professional III)</h3>
    <p><strong>Davivienda Corredores</strong> | Sep 2022 - Current</p>
    <ul>
        <li>Level 3 support for stockbroker firm applications.</li>
        <li>Development of APIs and Web Services on-premise and in the cloud for information availability.</li>
        <li>Management of Oracle and SQL Server databases.</li>
    </ul>

    <h3>Full-Stack Web Developer</h3>
    <p><strong>Pevaar Software Factory</strong> | Jun 2021 - Aug 2023</p>
    <ul>
        <li>Full stack developer for US government web application: Kane County (IL) Taxpayer Portal.</li>
        <li>Front-end UI design in Angular 9.</li>
        <li>Design and implementation of RESTful API.</li>
        <li>SQL Server database implementations.</li>
        <li>Implementation of Azure Services (DevOps, Pipelines, CI/CD, among others).</li>
    </ul>

    <h3>Web Developer</h3>
    <p><strong>Universidad Nacional de Colombia</strong> | Nov 2021 - Feb 2022</p>
    <ul>
        <li>Assistant student for the project “EXTENSION SOLIDARIA - CNES 2021 - PODER AL BARRIO”.</li>
        <li>Development of the Poder al Barrio website (available on GitHub).</li>
    </ul>
</section>