<section>
    <h2>Contact</h2>
    <p><i class="fa-solid fa-envelope"></i> anmrodriguezga&#64;unal.edu.co</p>
    <p>
        <a href="https://github.com/anmrodriguezga" target="_blank">
            <i class="fa-brands fa-github"></i> GitHub
        </a>
    </p>
    <p>
        <a href="https://www.linkedin.com/in/anmrodriguezga/" target="_blank">
            <i class="fa-brands fa-linkedin"></i> LinkedIn
        </a>
    </p>
    <p>
        <a href="https://wa.me/573057222621" target="_blank">
            <i class="fa-brands fa-whatsapp"></i> WhatsApp
        </a>
    </p>
</section>